body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image:linear-gradient(red, yellow);
}

.app-container {
  text-align: center;
}

.todo-input-container {
  margin-bottom: 10px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  border: 2px solid #ff0000;
  margin-bottom: 5px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


.todo-list li:hover {
  background-color: #fb9999;
  color: #333;
}

.todo-list .even {
  background-color: #ffffff;
}

.todo-list .odd {
  background-color: #d5d5d5;
}
